rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Deny all unspecified collections
    match /{document=**} {
      allow read, write: if false;
    }
    
    function userPermissionsData() {
      return get(/databases/$(database)/documents/userPermissions/$(request.auth.uid)).data
    }
    
    match /campaigns/{campaign} {
    
      function campaignPermissionsData() {
        return get(/databases/$(database)/documents/campaignPermissions/$(campaign)).data
      }
      
      function accessLevel() {
        return campaignPermissionsData().permissions[userPermissionsData().campaigns[campaign]]
      }
    
      allow read: if request.auth != null && accessLevel() >= 1;
      allow create, update, delete: if request.auth != null && accessLevel() >= 3;
      
      match /characters/{character}/{document=**} {
        allow read: if request.auth != null && accessLevel() >= 1;
        allow write: if request.auth != null && accessLevel() >= 2;
      }

      match /messages/{message} {
        allow create: if request.auth != null && accessLevel() >= 2 && request.auth.uid == request.resource.data.author;
        allow read: if request.auth != null && accessLevel() >= 2;
        allow update: if request.auth != null && accessLevel() >= 2 && request.auth.uid == resource.data.author && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['text','diceStatus']);
        allow update: if request.auth != null && accessLevel() >= 2 && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['diceStatus']);
        allow update, delete: if request.auth != null && accessLevel() >= 3;
      }
    }
    
    // Campaign permissions can be created by any user, read only by that campaign's admin, and are immutable.
    match /campaignPermissions/{campaignPermissions} {

      function accessLevel(source) {
        return source.data.permissions[userPermissionsData().campaigns[campaignPermissions]]
      }

      allow create: if request.auth != null && accessLevel(request.resource) == 3;
      allow read: if request.auth != null && accessLevel(resource) == 3;
      allow update, delete: if false;
    }
    
    match /userPermissions/{userPermission} {
    	allow read, write: if request.auth.uid == userPermission;
    }
    
    match /userProfiles/{userProfile} {
    	allow read: if request.auth != null;
    	allow write: if request.auth.uid == userProfile;
    }
  }
}